---
name: Test Result
about: Add a test result to this repository.
title: ''
labels: test result
assignees: luca-schlecker

---

## Test Result
<!--
Gathering the needed information:

Windows:
GPU information can be found inside the 'Device Manager'.
Inside the category 'Display Adapters' you'll find your GPU. (In case of multiple GPU's attached, make sure you choose the right one)
The name of the device is what you put after 'GPU' below.
Right-clicking that device and clicking on 'Driver' leads you to the driver version.

Linux:
I can't provide an accurate description of how to get the information.
You are on your own...
-->

**Operating System**: <!-- For example: Windows 10 -->

**GPU**: <!-- For example: Intel Iris Xe -->

**Driver Version**: <!-- For example: 27.20.100.8935 -->
